---
BasedOnStyle: Google

Language: Cpp
Standard: c++17

IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

