name: Build & Test (Windows & Linux)
run-name: ${{ github.actor }} has run the build & test workflow

on:
  pull_request:
    branches: [ main ]
    paths:
      - "server/**"
      - "client/**"
      - "common/**"
      - "CMakeLists.txt"
      - "vcpkg.json"

jobs:
  check_repository:
    name: Check the repository
    runs-on: ubuntu-latest
    outputs:
      target: ${{ steps.new.outputs.value }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check if we are in the mirrored repository
        id: new
        run: |
          if [[ "${{ github.repository }}" == *"Epitech"* ]]; then
            echo "::notice::You are in the Epitech repository"
            echo "value=1" >> "$GITHUB_OUTPUT"
            exit 0
          fi
          echo "value=0" >> "$GITHUB_OUTPUT"
          exit 0

  build:
    needs: check_repository
    if: ${{ needs.check_repository.outputs.target == 0 }}
    name: Build and Test
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        include:
          - os: windows-latest
            cpp_compiler: cl
          - os: ubuntu-latest
            cpp_compiler: g++

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    # - name: Test
    #   if: ${{ matrix.os == 'ubuntu-latest' }}
    #   working-directory: ${{ steps.strings.outputs.build-output-dir }}
    #   run: ctest --build-config ${{ matrix.build_type }}
